<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#add8e6">
<style>
body {
  background-image: url('');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<center>
    <h1>
        <form action="./add/" method="GET">
            enter the first no: <input type="text" name="t1"><br>
            enter the second no: <input type="text" name="t2"><br>
            <input type="submit" value="Add two numbers" name="add two numbers">
        </form>
    </h1>
</center>


</body>
</html>